<div class="text-center">
  <h2>More info...</h2>
  <%= @dose.description %> of
  <%= @dose.ingredient.name %> for
  <%= @dose.cocktail.name %>
</div>

<div class="text-center">
  <%= link_to 'Delete this dose', cocktail_dose_path(id: @dose.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
</div>

<div class="text-center">
  <%= link_to 'Back to cocktail doses', cocktail_doses_path(@cocktail), class: "btn btn-primary" %>
  <%= link_to 'Back to cocktail page', cocktail_path(@cocktail), class: "btn btn-primary" %>
  <%= link_to 'Back to index of cocktails', cocktails_path, class: "btn btn-primary" %>
</div>
