<div class="text-center">
  <%= @dose.description %> of
  <%= @dose.ingredient.name %> for
  <%= @dose.cocktail.name %>
</div>

<div class="text-center">
  <%= link_to 'Delete this dose', cocktail_dose_path(id: @dose.id), method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

<div class="text-center">
  <%= link_to 'Back to cocktail doses', cocktail_doses_path(@cocktail) %> |
  <%= link_to 'Back to cocktail page', cocktail_path(@cocktail) %> |
  <%= link_to 'Back to index of cocktails', cocktails_path %>
</div>
